---
title: Stravo
---

      <!-- Gallery #01 -->
      <section>
                  <%=image_tag 'accueil2.jpg', width: '100%' %>
</section>
 <div class="js-carousel text-center g-pb-30" data-infinite="true" data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-35 g-height-40 g-font-size-18 g-color-gray g-bg-white g-mt-minus-10" data-arrow-left-classes="fa fa-angle-left g-left-0" data-arrow-right-classes="fa fa-angle-right g-right-0">
      <div class="js-slide">
        <a class="js-fancybox" href="javascript:;" data-fancybox="lightbox-gallery--07-1" data-src="../../assets/img-temp/900x600/img5.jpg" data-caption="Lightbox Gallery" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
          <img class="img-fluid g-rounded-6" src= "<%=image_tag 'accueil.jpg'%>"" alt="Image Description">
          <%= image_tag 'accueil.jpg', :class=> "img-fluid g-rounded-6">
        </a>
      </div>
             
          <div class="shortcode-styles">
            <!-- CSS Implementing Plugins -->
            <link type="text/plain" rel="stylesheet" href="../../assets/vendor/icon-hs/style.css">
            <link type="text/plain" rel="stylesheet" href="../../assets/vendor/fancybox/jquery.fancybox.min.css">
            <link type="text/plain" rel="stylesheet" href="../../assets/vendor/slick-carousel/slick/slick.css">
          </div>

          <div class="shortcode-scripts">
            <!-- JS Implementing Plugins -->
            <script type="text/plain" src="../../assets/vendor/fancybox/jquery.fancybox.min.js"></script>
            <script type="text/plain" src="../../assets/vendor/slick-carousel/slick/slick.js"></script>

            <!-- JS Unify -->
            <script type="text/plain" src="../../assets/js/components/hs.popup.js"></script>
            <script type="text/plain" src="../../assets/js/components/hs.carousel.js"></script>

            <!-- JS Plugins Init. -->
            <script type="text/plain">
              $(document).on('ready', function () {
                // initialization of popups
                $.HSCore.components.HSPopup.init('.js-fancybox');

                // initialization of carousel
                $.HSCore.components.HSCarousel.init('.js-carousel');
              });
            </script>
          </div>
        </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p> qsgqgfg
